.add-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    margin: 16px 0;
    box-sizing: border-box;
    line-height: 40pt;
    font-size: 35pt;
    cursor: pointer;
}