.icon {
    margin: 12px;
    background-repeat: no-repeat;
    line-height: 27pt;
    font-size: 27pt;
    cursor: pointer;
    color: #6a6a6a;
}

.icon.icon-shift-left {
    margin-left: auto !important;
}

.icon.disabled {
    opacity: 0.5;
}