@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

.app {
    max-width: 600px;
    min-width: 438px;
    margin: 0 auto;
    padding: 0 16px;
    user-select: none;
}

.header {
    font-family: 'Alata', sans-serif;
    display: flex;
    height: 60px;
    margin-bottom: 16px;
    font-size: 20pt;
    line-height: 20pt;
    border-bottom: 1px solid #999999;
    align-items: center;
}