.App {
    margin: 0 20px;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    min-height: 60px;
    margin-bottom: 20px;

    font-size: calc(10px + 2vmin);
    border-bottom: 1px solid black;
}